{% extends 'base.html.twig' %}

{% block title %}NavBar
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/navBarUser.css') }}">
{% endblock %}
{% block body %}
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid img-nav d-flex justify-content-between">
			<a class="navbar-brand" href="{{path('app_home')}}">
				<img src="{{ asset('assets/images/logoFablabNavbar.svg') }}" alt="Logo du FabLab">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mt-auto" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end correction-padding-btn">
					<li class="nav-item dropdown test">
						<a class="nav-link dropdown-toggle text-light" href="{{ path('app_numiks')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							NUMIKS
						</a>
						<ul class="dropdown-menu background-color-nav">
							<li class="border-separer-text">
								<a class="dropdown-item text-light" href="#">
									<strong>Le FabLab</strong>
								</a>
							</li>
							<li class="border-separer-text">
								<a class="dropdown-item text-light" href="#">Espace
									<strong>G. Halimi</strong>
								</a>
							</li>
							<li>
								<a class="dropdown-item text-light" href="#">Infos Pratiques</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light"  href="{{path('app_visitor_events')}}">AGENDA</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<strong>ÉQUIPEMENTS</strong>
						</a>
						<ul class="dropdown-menu background-color-nav">
							<li class="border-separer-text">
								<a class="dropdown-item text-light" href="#">Les machines</a>
							</li>
							<li class="border-separer-text">
								<a class="dropdown-item text-light" href="#">Les pôles</a>
							</li>
							<li>
								<a class="dropdown-item text-light" href="#">Conditions d’utilisation</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">ACTUALITÉS</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							ADHÉSION
						</a>
						<ul class="dropdown-menu background-color-nav">
							{% if app.user %}
								{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-item text-left">
										<a class="nav-link text-light" href="#">Gestion admin</a>
									</li>
								{% endif %}
								{% if is_granted('ROLE_ADHERENT') or is_granted('ROLE_ADMIN') %}
									<li class="nav-item text-left">
										<a class="nav-link text-light" href="{{path('app_users_show', {'id': user.id})}}">Mon profil</a>
									</li>
									<li class="nav-item text-left">
										<a class="nav-link text-light" href="#">Mes réservations</a>
									</li>
									<li class="nav-item text-left">
										<a class="nav-link text-light" href="#">Réserver</a>
									</li>
								{% endif %}
								<li class="nav-item text-left">
									<a class="nav-link text-light" href="{{path('app_logout') }}">Me déconnecter</a>
								</li>
							{% else %}
								<li class="nav-item text-left">
									<a class="nav-link text-light" href="{{path('app_login')}}">Connexion</a>
								</li>
								<li class="nav-item text-left">
									<a class="nav-link text-light" href="{{path('app_register')}}">Adhérer</a>
								</li>
							{% endif %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{# Permet de dire quand l'utilisateur est connectez
		 s'avoir si il a valider l'email sinon message
		  d'alert pour renvoyer le lien
		pour qu'il valide l'email #}
	{% if app.user and app.user.isIsEmailVerified == false %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="class"></button>
			<div class="alert-message">
				<p>
					<strong>Votre compte n'est pas activé</strong>, renvoyer le lien d'activation sur l'email <a href="{{ path('resend_verif')}}"> cliquez ici !</a></p>
			</div>
		</div>
	{% endif %}
	{% include "components/_flash.html.twig" %}

	{% block javascripts %}
		<script src="{{ asset('assets/javascript/navBarUser.js') }}"></script>
	{% endblock %}


{% endblock %}
