{% extends 'visitor/index.html.twig' %}

{% block title %}
	Réserver votre machine
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
	<link rel="stylesheet" href="{{ asset('assets/styles/machine_resa.css') }}">
{% endblock %}

{% block main %}
	<div class="container-fluid">
		<div class="d-flex flex-wrap justify-content-center">
			<div class="text-center mt-4">
				<h1>RÉSERVER VOTRE MACHINE</h1>
			</div>
		</div>

		<section class="swiper-container mySwiper">
			<div class="swiper-wrapper">
				{% for machine in machines %}
					<div class="card swiper-slide">
						<div class="card__image">
							<img src="{{ asset('assets/uploads/' ~ machine.machinePicture) }}" alt="Image de la machine">
						</div>
						<div class="card__content">
							<span class="card__title">{{ machine.nameMachine }}</span>
							<p class="card__text">{{ machine.description }}</p>
							{% if app.user %}
								{% if app.user.isIsValidated() %}
									<button class="card__btn color_btn" data-id="{{ machine.id }}" data-user-id="{{ app.user.id }}">Réservez !</button>
								{% else %}
									<button class="card__btn-notvalidated color_btn">Réservez !</button>
								{% endif %}
							{% else %}
								<button class="card__btn-login color_btn">Réservez !</button>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>

	{% include 'visitor/reservation_machine/modals/reservationModal.html.twig' %}
	{% include 'visitor/reservation_machine/modals/loginModal.html.twig' %}
	{% include 'visitor/reservation_machine/modals/successModal.html.twig' %}
	{% include 'visitor/reservation_machine/modals/validationModal.html.twig' %}

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{ asset('assets/javascript/reservationClient/reservationMachine.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
{% endblock %}
