<div class="card shadow-lg mb-4 animate__animated animate__fadeInLeftBig">
	<div class="card-body">
		<div class="table-responsive ">
			<table class="table table-hover sortTable">
				<thead class="table-light">
					<tr>
						<th>Nom</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for workspace in workspaces %}
						<tr>
							<td>{{ workspace.nameWorkspace }}</td>
							<td>{{ workspace.description | default('N/A') }}</td>
							<td>
								<a href="{{ path('admin_workspaces_show', {'id': workspace.id}) }}" class="btn btn-outline-primary btn-sm">Détails</a>
								<a href="{{ path('admin_workspaces_edit', {'id': workspace.id}) }}" class="btn btn-outline-primary btn-sm">Modifier</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
    $('.sortTable').each(function() {
        if (!$.fn.DataTable.isDataTable(this)) {
            // Initialisez le DataTable si ce n'est pas déjà fait
            $(this).DataTable({
                // Vos options de configuration ici
            });
        } else {
            // Si le DataTable est déjà initialisé, vous pouvez choisir de le détruire et de le réinitialiser
            // Ou effectuer une autre action, selon vos besoins
            var table = $(this).DataTable();
            table.destroy();
            $(this).DataTable({
                // Nouvelles options de configuration pour la réinitialisation
            });
        }
    });
});
</script>
