{% extends 'base.html.twig' %}

{% block title %}Accueil - Fablab NUMIKS
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/footer.css') }}">
    <link
    rel="stylesheet" href="{{ asset('assets/styles/navBarUser.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}

{% block body %}

	{% block header %}
		<header>
			<nav class="navbar navbar-expand-lg navbar-light ">
				<div class="container-fluid">

					<a class="navbar-brand" href="{{ path('app_numiks')}}">
						<img src="{{ asset('assets/images/logoFablabNavbar.svg') }}" alt="Logo">
					</a>
					<button class="navbar-toggler" id="navbarToggleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
						<ul class="navbar-nav navbar-links ">
							<li class="nav-item dropdown">
								<a title="NUMIKS" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									NUMIKS
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li>
										<a title="Le FabLab" class="dropdown-item" href="{{ path('app_numiks') }}">
											<strong>Le FabLab</strong>
										</a>
									</li>
									<li>
										<a title="G. Halimi" class="dropdown-item" href="#">
											<strong>G. Halimi</strong>
										</a>
									</li>
									<li>
										<a title="Infos Pratiques" class="dropdown-item" href="#">Infos Pratiques</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a title="AGENDA" class="nav-link" titre="AGENDA" href="{{path('app_visitor_events')}}">AGENDA</a>
							</li>

							<li class="nav-item dropdown">
								<a titre="EQUIPEMENTS" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<strong>ÉQUIPEMENTS</strong>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li>
										<a titre="Les machines" class="dropdown-item" href="{{path('machines_reservation')}}">Les machines</a>
									</li>
									<li>
										<a titre="Les pôles" class="dropdown-item" href="{{path('espace_reservation')}}">Les pôles</a>
									</li>
									<li>
										<a titre="Conditions d’utilisation" class="dropdown-item" href="#">Conditions d’utilisation</a>
									</li>
								</ul>
							</li>

							<li class="nav-item">
								<a titre="ACTUALITÉS" class="nav-link" href="{{path('app_route_articles')}}">ACTUALITÉS</a>
							</li>

							<li class="nav-item dropdown">
								<a titre="ADHÉSION" class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									ADHÉSION
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownLink">
									{% if app.user %}
										{% if is_granted('ROLE_ADMIN') %}
											<li>
												<a titre="Gestion admin" class="dropdown-item" href="{{ path('admin_dashboard') }}">Gestion admin</a>
											</li>
										{% endif %}
										{% if app.user.isIsValidated() %}
											<li>
												<a titre="Mon profil" class="dropdown-item" href="{{path('app_users_show', {'id': app.user.id})}}">Mon profil</a>
											</li>
											<li>
												<a titre="Mes réservations" class="dropdown-item" href="#">Mes réservations</a>
											</li>
											<li>
												<a titre="Réserver" class="dropdown-item" href="#">Réserver</a>
											</li>
										{% endif %}
										<li>
											<a titre="Me déconnecter" class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
										</li>
									{% else %}
										<li>
											<a titre="Connexion" class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
										</li>
										<li>
											<a titre="Adhérer" class="dropdown-item" href="{{ path('app_register') }}">Adhérer</a>
										</li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			{% if app.user and app.user.isIsEmailVerified == false %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="class"></button>
					<div class="alert-message">
						<p>
							<strong>Votre compte n'est pas activé</strong>, renvoyer le lien d'activation sur l'email
							<a href="{{ path('resend_verif')}}">
								cliquez ici !</a>
						</p>
					</div>
				</div>
			{% endif %}
			{% include "components/_flash.html.twig" %}
		</header>
	{% endblock %}

  <div class="content">
    {% block main %}

    {% endblock %}
</div>
    {% block footer %}
        <footer class="container-fluid bg-footer-custom pt-5 pb-5 ">
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-links footer-small-text">
                        <a href="/numiks" class="footer-link-text text-white me-2" title="Découvrez NUMIKS">NUMIKS</a>
                        <a href="/agenda" class="footer-link-text text-white me-2" title="Consultez notre agenda">AGENDA</a>
                        <a href="/equipement" class="footer-link-text text-white me-2" title="Explorez nos équipements">EQUIPEMENT</a>
                        <a href="/actualite" class="footer-link-text text-white me-2" title="Lisez nos dernières actualités">ACTUALITE</a>
                        <a href="/adhesion" class="footer-link-text text-white" title="Rejoignez-nous en devenant membre">ADHESION</a>
                    </p>
                    <a href="/mentions-legales" class="footer-mention footer-mention-text text-white" title="Consultez nos mentions légales">Mentions légales</a>
                </div>

                <div class="col-md-6 footer-small-text text-white">
                    <div>
                        <i class="fa fa-map-marker me-2"></i>
                        <span>35 rue de la Haye, 34080 MONTPELLIER</span>
                    </div>
                    <div>
                        <i class="fa fa-phone me-2"></i>
                        <span>04 . 99 . 54 . 77 . 29</span>
                    </div>
                    <div>
                        <i class="fa fa-envelope me-2"></i>
                        <a href="mailto:mpt.dubout@ville-montpellier.fr" class="text-white" aria-label="Envoyer un email à mpt.dubout@ville-montpellier.fr">mpt.dubout@ville-montpellier.fr</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}


    {% block javascripts %}
        
        <script src="{{ asset('assets/javascript/navBarUser.js') }}"></script>
    {% endblock %}
{% endblock %}