{% extends 'base.html.twig' %}

{% block title %}Edit Workspaces{% endblock %}

{% block body %}
    <h1>Edit Workspaces</h1>

    {{ include('/crudTemplates/workspaces/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_workspaces_index') }}">back to list</a>

    {{ include('/crudTemplates/workspaces/_delete_form.html.twig') }}
{% endblock %}
