{% extends 'base.html.twig' %}

{% block title %}Workspaces index{% endblock %}

{% block body %}
    <h1>Workspaces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_workspace</th>
                <th>Description</th>
                <th>Member_access</th>
                <th>Is_booked</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workspace in workspaces %}
            <tr>
                <td>{{ workspace.id }}</td>
                <td>{{ workspace.nameWorkspace }}</td>
                <td>{{ workspace.description }}</td>
                <td>{{ workspace.memberAccess ? 'Yes' : 'No' }}</td>
                <td>{{ workspace.isBooked ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_workspaces_show', {'id': workspace.id}) }}">show</a>
                    <a href="{{ path('app_workspaces_edit', {'id': workspace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_workspaces_new') }}">Create new</a>
{% endblock %}
