{% extends 'base.html.twig' %}

{% block title %}New Workspaces{% endblock %}

{% block body %}
    <h1>Create new Workspaces</h1>

    {{ include('/crudTemplates/workspaces/_form.html.twig') }}

    <a href="{{ path('app_workspaces_index') }}">back to list</a>
{% endblock %}
