{% extends 'base.html.twig' %}

{% block title %}Workspaces{% endblock %}

{% block body %}
    <h1>Workspaces</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workspace.id }}</td>
            </tr>
            <tr>
                <th>Name_workspace</th>
                <td>{{ workspace.nameWorkspace }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ workspace.description }}</td>
            </tr>
            <tr>
                <th>Member_access</th>
                <td>{{ workspace.memberAccess ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_booked</th>
                <td>{{ workspace.isBooked ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workspaces_index') }}">back to list</a>

    <a href="{{ path('app_workspaces_edit', {'id': workspace.id}) }}">edit</a>

    {{ include('/crudTemplates/workspaces/_delete_form.html.twig') }}
{% endblock %}
