<div class="row justify-content-center">
    {% for publishedEvent in publishedEvents %}
        {% set today = "now"|date("Y-m-d") %}
{% set showEvent = (publishedEvent.startDate|date("Y-m-d") >= today) or (publishedEvent.endDate is not null and publishedEvent.endDate|date("Y-m-d") >= today) %}


        {% if showEvent %}
            <div class="card col-3 m-1 text-center">
                {% if publishedEvent.frontMedia %}
                    <img src="{{ asset('assets/uploads/' ~ publishedEvent.frontMedia) }}" class="mb-3 img-fluid rounded" alt="Image de l'évènement" style="max-height: 350px; width: auto;">
                {% else %}
                    <img src="{{ asset('assets/uploads/image.png') }}" class="mb-3 img-fluid rounded" alt="Image par défaut" style="max-height: 350px; width: auto;">
                {% endif %}
                
                <div class="card-body">
                    <h3>{{ publishedEvent.nameEvent|default('Événement sans titre') }}</h3>
                    <h4>
                        <ion-icon name="calendar"></ion-icon>
                        {{ publishedEvent.startDate|date('d-m-Y') }}
                        {% if publishedEvent.endDate %}
                            au {{ publishedEvent.endDate|date('d-m-Y') }}
                        {% endif %}
                    </h4>
                    <h5>
                        <ion-icon name="time"></ion-icon>
                        {% if publishedEvent.startHour %}
                            {{ publishedEvent.startHour|date('H:i') }}
                        {% else %}
                            Heure de début non définie
                        {% endif %}
                        {% if publishedEvent.endHour %}
                            - {{ publishedEvent.endHour|date('H:i') }}
                        {% else %}
                            Heure de fin non définie
                        {% endif %}
                    </h5>
                    <a role="button" class="btn btn-outline-primary" href="{{ path('app_admin_event_show', {'id': publishedEvent.id}) }}">Voir</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% block scripts %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}