{% extends 'adminTemplatePage.html.twig' %}
{% block title %}Évènements
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('assets/styles/test.css') }}">


{% endblock %}

{% block main %}

	<div class="container-fluid py-5">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="card shadow-lg border-0 rounded-lg">
					<div class="card-header background text-white">
						<div class="d-flex justify-content-between align-items-center">
							<a href="{{ path('app_admin_event') }}" class="btn-back-to-articles">
								← Retour vers les réservations
							</a>
							<h2 class="card-title h4 mb-0 text-center flex-grow-1">Détails de l'évènement :
								{{ event.nameEvent }}</h2>
						</div>


					</div>
					<div class="card-body bg-light">
						<p>
							<strong>Date de début :</strong>
							{{ event.startDate|date('Y-m-d') }}</p>
						<p>
							<strong>Date de fin :</strong>
							{{ event.endDate ? event.endDate|date('Y-m-d') : 'Non spécifiée' }}</p>
						<p>
							<strong>Heure de début :</strong>
							{{ event.startHour ? event.startHour|date('H:i') : 'Non spécifiée' }}</p>
						<p>
							<strong>Heure de fin :</strong>
							{{ event.endHour ? event.endHour|date('H:i') : 'Non spécifiée' }}</p>
						<p>
							<strong>Description :</strong>
							{{ event.description ? event.description : 'Aucune description fournie.' }}</p>
						<p>
							<strong>Publié :</strong>
							{{ event.isIsPublished ? 'Oui' : 'Non' }}</p>
						<p>
							<strong>Exclusivement pour les membres :</strong>
							{{ event.isIsMemberOnly ? 'Oui' : 'Non' }}</p>
						<p>
							<strong>Nombre maximum de participants :</strong>
							{{ event.maxParticipants ? event.maxParticipants : 'Illimité' }}</p>
						<div class="text-center">
							{% if event.frontMedia %}
								<img src="{{ asset('assets/uploads/' ~ event.frontMedia) }}" class="img-fluid rounded mb-3" alt="Image de l'évènement" style="max-height: 350px; width: auto;">
							{% else %}
								Aucun média téléchargé.
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="text-center my-5">
		<h2>Information des participants</h2>
	</div>
	<div class="card shadow-lg mb-4 ">
		<div class="card-body">
			<div class="table-responsive ">
				<table class="table table-hover">
					<thead class="table-light">
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Prenom</th>
							<th scope="col">Email</th>
							<th scope="col">Tel</th>
							<th scope="col">Réservée</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for participant in participants %}
							<tr>
								<td>{{ participant.person.lastname }}</td>
								<td>{{ participant.person.firstname }}</td>
								<td>{{ participant.person.email }}</td>
								<td>{{ participant.person.phone }}</td>
								<td>
									<div class="badge {{ participant.isIsValidated ? 'bg-success' : 'bg-danger' }}">
										{{ participant.isIsValidated ? 'Oui' : 'Non' }}
									</div>
								</td>
								<td>
									<button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#validateModal-{{ participant.id }}">
										Valider la réservation
									</button>
								</td>
							</tr>

							<!-- Modal pour chaque participant -->
							<div class="modal fade" id="validateModal-{{ participant.id }}" tabindex="-1" aria-labelledby="validateModalLabel-{{ participant.id }}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="validateModalLabel-{{ participant.id }}">Validation de la réservation</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											Êtes-vous sûr de vouloir valider cette réservation ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											<form method="post" action="{{ path('app_admin_event_validate_participant', {'id': participant.id}) }}" style="display: inline;">
												<input type="hidden" name="_token" value="{{ csrf_token('validate-participant' ~ participant.id) }}">
												<button type="submit" class="btn btn-primary">Valider la réservation</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block scripts %}{% endblock %}
