

body {
  background-image: url('../../images/page.svg');
}


:root{

  --color: #6d3e91;
  --bg-color: #f4f4f4;
}

h1 {
  color: var(--color);
}

.color_btn {
  background-color: var(--color);
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  cursor: pointer;
}

.color_btn:hover {
  background-color: #3a0a5e;
  color: var(--bg-color);
}

/* workspace_resa.css */

.container h1 {
  text-align: center;
}

.card {
  border-color: #bebdbe;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  height: 100%; 
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition pour transform et box-shadow */
}

.card:hover {
  transform: scale(1.03); /* Agrandit légèrement la carte */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.24); /* Rend l'ombre plus prononcée pour un effet plus profond */
}


.card-title {
  color: var(--color);
  text-align: center;
}

.color_btn {
  background-color: var(--color);
  color: var(--bg-color);
  width: 100%; 
  margin-top: auto; 
}


.row-cols-1.mb-5.row-cols-md-3.g-4 {
  margin-top: 20px;
}