{% extends 'visitor/index.html.twig' %}

{% block title %}Demande de Reservation
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/book.css') }}">
	{{parent()}}
{% endblock %}

{% block main %}

	<div class="background-image"></div>
	<div class="container-fluid mt-5 mb-3">
		<div class="row justify-content-center test">
			<div class="col-md-8">
				<div class="card custom-card shadow">
					<div class="card-header custom-card-header">
						<h1>Inscrivez vous à  "
							{{ event.nameEvent }}
							"</h1>
					</div>
					<div class="card-body">
						{{ form_start(form, {'attr': {'class': 'form-horizontal', 'id': 'reservation-form'}}) }}
						<div class="mb-3">
							{{ form_row(form.lastname) }}
							{{ form_row(form.firstname) }}
							{{ form_row(form.gender) }}
							{{ form_label(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Exemple : exemple@hotmail.fr'}}) }}

							{{ form_row(form.phone) }}
							{{ form_row(form.city) }}
							{{ form_row(form.postalcode) }}

						</div>
						<div class="form-group d-flex align-items-center justify-content-between">
							<button type="submit" class="btn btn-custom">Envoyer la demande d'inscription</button>
							<p class="mb-0">Déjà membre ?
								<a href="{{ path('app_login') }}">Connexion</a>
							</p>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
