{% extends 'visitor/index.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/book.css') }}">
	{{parent()}}
{% endblock %}

{% block main %}
	<div class="background-image"></div>
	<div class="container-fluid mt-5 mb-3">
		<div class="row justify-content-center test">
			<div class="col-md-8">
				<div class="card custom-card shadow">
					<div class="card-header custom-card-header">
						<h3>Message</h3>
					</div>
					<div class="card-body">
						<div class="mb-3 text-center">
							<p>Votre réservation à bien été envoyé</p>
							{% for type, messages in app.flashes %}
								{% for message in messages %}
									<div class="alert alert-{{ type }}">
										{{ message }}
									</div>
								{% endfor %}
							{% endfor %}
						</div>
						<div class="form-group d-flex align-items-center justify-content-between">
							<a class="events-list" href="{{ path('app_visitor_events') }}">Liste des évènements</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
