{% extends 'visitor/index.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/visitorEventsAll.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block main %}
<section class="wrapper">
    <div class="container-fluid py-5">
        {% if eventData is empty %}
<div class="center-container">
    <p>Aucun événement n'est disponible pour le moment.</p>
</div>

        {% else %}
            {% for eventId, data in eventData %}
                <div class="card card-futuristic mb-4" style="max-width: 940px; margin: auto;">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-6">
                            <div class="card-img-container">
                                {% if data.event.frontMedia %}
                                    <img src="{{ asset('assets/uploads/' ~ data.event.frontMedia) }}" class="img-fluid" alt="{{ data.event.nameEvent|upper }}">
                                {% else %}
                                    <img src="{{ asset('assets/images/default-image.jpg') }}" class="img-fluid" alt="Image not available">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h1 class="card-title">{{ data.event.nameEvent|upper }}</h1>
                                <p class="card-text">
                                    <i class="far fa-calendar-alt"></i> {% if data.event.startDate %}{{ data.event.startDate|date('d/m/Y') }}{% endif %}
                                    {% if data.event.startHour %}
                                        <br>
                                        <i class="far fa-clock"></i> de {{ data.event.startHour|date('H:i') }}{% if data.event.endHour %} à {{ data.event.endHour|date('H:i') }}{% endif %}
                                    {% endif %}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{{ path('event.show', {'id': eventId}) }}" class="btn btn-primary btn-futuristic">Plus d'infos</a>
                                    <span class="test"> Participants {{ data.currentParticipants }} / {{ data.event.maxParticipants }} <i class="fas fa-users"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
