{% extends 'visitor/index.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/styles/visitorEventOne.css') }}">
	{{ parent() }}
{% endblock %}

{% block title %}Events
{% endblock %}

{% block main %}
	<section class="light">
		<div class="container py-2">
			<div class="d-flex justify-content-between align-items-center my-4">
				<a class="btn btn-back-" href="{{ path('app_visitor_events') }}">
					← Retour</a>
				<h1>Détails de l'événement</h1>
			</div>
			<article class="postcard red">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="{{ asset('assets/uploads/' ~ event.frontMedia) }}" alt="Image Title">
				</a>
				<div class="postcard__text t-dark">
					<h2 class="postcard__title red">
						<h1>{{ event.nameEvent }}<h1></h2>
							<div class="postcard__subtitle small">

									<i class="fas fa-calendar-alt mr-2"></i>
									{{ event.startDate ? event.startDate|date('d-M-Y') : '' }}
									jusqu'au
									{{ event.endDate ? event.endDate|date('d-M-Y') : '' }}
								<br>
								<time class="tag__item">
									<i class="fas fa-clock mr-2"></i>
									A partir de
									{{ event.startHour ? event.startHour|date('H:i') : '' }}</time>
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{ event.description }}</div>
							<div class="">
								{% if isEventFull %}
									<button type="button" class="btn btn-secondary" disabled>Complet</button>
								{% else %}
									{% if app.user %}
										{% if event.isMemberOnly %}
											{% if app.user.isValidated %}
												<button id="reserve-button" type="button" class="btn btn-back-" data-bs-toggle="modal" data-bs-target="#areyousureModal">Réserver</button>
											{% else %}
												<button type="button" class="btn btn-back-" data-bs-toggle="modal" data-bs-target="#validationRequiredModal">Réserver</button>
											{% endif %}
										{% else %}
											<button id="reserve-button" type="button" class="btn btn-back-" data-bs-toggle="modal" data-bs-target="#areyousureModal">Réserver</button>
										{% endif %}
									{% else %}
										{% if event.isMemberOnly %}
											<button id="login-button" type="button" class="btn btn-back-" data-bs-toggle="modal" data-bs-target="#newMemberModal">Se connecter / Devenir membre</button>
										{% else %}
											<button id="login-button" type="button" class="btn btn-back-" data-bs-toggle="modal" data-bs-target="#membershipModal">Se connecter pour réserver</button>
										{% endif %}
									{% endif %}
								{% endif %}
							</div>
						</div>
					</section>
					
					{% include 'visitor/visitor_events/modals/memberShipModal.html.twig' %}
					{% include 'visitor/visitor_events/modals/areYouSureModal.html.twig' %}
					{% include 'visitor/visitor_events/modals/newMemberModal.html.twig' %}
					{% include 'visitor/visitor_events/modals/validationRequiredModal.html.twig' %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

document.addEventListener('DOMContentLoaded', function () {
let userIsValidated = {{ app.user ? (app.user.isValidated ? 'true' : 'false') : 'false' }};
let membershipModal = new bootstrap.Modal(document.getElementById('membershipModal'));
let areyousureModal = new bootstrap.Modal(document.getElementById('areyousureModal'));
let newMemberModal = document.getElementById('newMemberModal') ? new bootstrap.Modal(document.getElementById('newMemberModal')) : null;
let validationRequiredModal = new bootstrap.Modal(document.getElementById('validationRequiredModal')); 

document.querySelectorAll('.btn-back-').forEach(function (button) {
button.addEventListener('click', function () {
let targetModalId = button.getAttribute('data-bs-target').substring(1);
let targetModal;

if (button.dataset.isMemberOnly === 'true' && ! userIsValidated) {
validationRequiredModal.show(); 
return; 
}

switch (targetModalId) {
case 'membershipModal': targetModal = membershipModal;
break;
case 'areyousureModal': targetModal = areyousureModal;
break;
case 'newMemberModal':
if (newMemberModal) {
targetModal = newMemberModal;
}
break;
}

if (targetModal) {
targetModal.show();
}
});
});

let yesButton = document.getElementById('yes');
if (yesButton) {
yesButton.addEventListener('click', function () {
window.location.href = '{{ path('app_login') }}';
});
}

let noButton = document.getElementById('no');
if (noButton) {
noButton.addEventListener('click', function () {
window.location.href = '{{ path('event.book', {'id': event.id}) }}';
});
}

let sureButton = document.getElementById('sure');
if (sureButton) {
sureButton.addEventListener('click', function () {
window.location.href = '{{ path('user.event.book', {'id': event.id}) }}';
});
}

let nonoButton = document.getElementById('nono');
if (nonoButton) {
nonoButton.addEventListener('click', function () {
window.location.href = '{{ path('event.show', {'id': event.id}) }}';
});
}
});
</script>
{% endblock %}
