{% extends 'base.html.twig' %}

{% block title %}Edit Reservations{% endblock %}

{% block body %}
    <h1>Edit Reservations</h1>

    {{ include('/crudTemplates/reservations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservations_index') }}">back to list</a>

    {{ include('/crudTemplates/reservations/_delete_form.html.twig') }}
{% endblock %}
