{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Date_reservation</th>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Start_hour</th>
                <td>{{ reservation.startHour ? reservation.startHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End_hour</th>
                <td>{{ reservation.endHour ? reservation.endHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is_validated</th>
                <td>{{ reservation.isValidated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>State_reservation</th>
                <td>{{ reservation.stateReservation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservations_index') }}">back to list</a>

    <a href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('/crudTemplates/reservations/_delete_form.html.twig') }}
{% endblock %}
