<!-- Modal Structure pour utilisateurs non connect Users -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Êtes-vous adhérent ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Pour réserver, veuillez vous connecter ou devenir adhérent.
      </div>
      <div class="modal-footer">
        <a href="{{path('app_login')}}" class="btn btn-primary">Se connecter</a>
        <a href="{{path('app_register')}}" class="btn btn-secondary">Devenir adhérent</a>
      </div>
    </div>
  </div>
</div>