{% extends 'base.html.twig' %}

{% block title %}Edit Persons{% endblock %}

{% block body %}
    <h1>Edit Persons</h1>

    {{ include('/crudTemplates/persons/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_persons_index') }}">back to list</a>

    {{ include('/crudTemplates/persons/_delete_form.html.twig') }}
{% endblock %}
