{% extends 'base.html.twig' %}

{% block title %}Persons index{% endblock %}

{% block body %}
    <h1>Persons index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Is_visitor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.isVisitor ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_persons_show', {'id': person.id}) }}">show</a>
                    <a href="{{ path('app_persons_edit', {'id': person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_persons_new') }}">Create new</a>
{% endblock %}
