{% extends 'base.html.twig' %}

{% block title %}New Persons{% endblock %}

{% block body %}
    <h1>Create new Persons</h1>

    {{ include('/crudTemplates/persons/_form.html.twig') }}

    <a href="{{ path('app_persons_index') }}">back to list</a>
{% endblock %}
