{% extends 'base.html.twig' %}

{% block title %}Persons{% endblock %}

{% block body %}
    <h1>Persons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ person.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Is_visitor</th>
                <td>{{ person.isVisitor ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_persons_index') }}">back to list</a>

    <a href="{{ path('app_persons_edit', {'id': person.id}) }}">edit</a>

    {{ include('/crudTemplates/persons/_delete_form.html.twig') }}
{% endblock %}
