{% extends 'base.html.twig' %}

{% block title %}Edit Cities{% endblock %}

{% block body %}
    <h1>Edit Cities</h1>

    {{ include('/crudTemplates/cities/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cities_index') }}">back to list</a>

    {{ include('/crudTemplates/cities/_delete_form.html.twig') }}
{% endblock %}
