

{% block title %}Cities index{% endblock %}
{% extends 'test/index.html.twig' %}

{% block main %}

    <h1>Cities index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_city</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.nameCity }}</td>
                <td>
                    <a href="{{ path('app_cities_show', {'id': city.id}) }}">show</a>
                    <a href="{{ path('app_cities_edit', {'id': city.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cities_new') }}">Create new</a>
{% endblock %}
