{% extends 'base.html.twig' %}

{% block title %}New Cities{% endblock %}

{% block body %}
    <h1>Create new Cities</h1>

    {{ include('/crudTemplates/cities/_form.html.twig') }}

    <a href="{{ path('app_cities_index') }}">back to list</a>
{% endblock %}
