{% extends 'base.html.twig' %}

{% block title %}Cities{% endblock %}

{% block body %}
    <h1>Cities</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name_city</th>
                <td>{{ city.nameCity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cities_index') }}">back to list</a>

    <a href="{{ path('app_cities_edit', {'id': city.id}) }}">edit</a>

    {{ include('/crudTemplates/cities/_delete_form.html.twig') }}
{% endblock %}
