{% extends 'visitor/index.html.twig' %}

{% block title %}NUMIKS
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/styles/numiksPage/numiks.css') }}">
{% endblock %}

{% block main %}
	<div class="header-overlay">
		<div class="test text-center text-white pt-5">
			<h1 class="display-2 fw-bold pb-5">FABLAB NUMIKS</h1>
			<h5 class="pb-3">Laboratoire d’innovation et de fabrication numérique</h2>
			<p class="lead">Lundi : 9h00 - 14h00</p>
			<p class="lead">Mardi : 9h00 - 17h00</p>
			<p class="lead">Mercredi 9h00 - 12h00</p>
			<p class="lead">Jeudi : 9h00 - 16h00</p>
			<p class="lead">Vendredi : 9h00 - 19h00</p>
			<div class="pt-3">
			    <a class="btn btn-adheren" href="{{path('app_register')}}">ADHERER</a>
			    <a class="btn btn-atelier " href="#">L'ATELIER</a>
			</div>
		</div>
	</div>

	<section class="home-container ">
		<div class="row g-4 align-items-center pt-3 pb-3">

			<div class="col-lg-6 text-center">
				<img src="{{ asset('assets/images/pole-fablab.webp') }}" class="home-img" alt="Description de l'image">
			</div>

			<div class="col-lg-6 margin-left d-flex justify-content-center align-items-center">
				<div class="maxwd">
					<h2>Accèder à nos espaces de travail</h2>
					<p class="mb-5 mt-5">Voici une brève description de ce que vous trouverez dans les espaces. Vous pouvez parler des équipements disponibles, des types de projets que vous pouvez y réaliser, ou de tout autre aspect pertinent.</p>
					<a href="{{path('espace_reservation')}}" class="btn btn-plus">En savoir plus</a>
				</div>

			</div>
		</div>
	</section>

	<section class="home-container section-two ">
		<div class="row g-4 align-items-center pt-3 pb-3">

			<div class="col-lg-6 margin-left d-flex justify-content-center align-items-center">
				<div class="maxwd">
					<h2>Accèder à nos machines</h2>
					<p class="mb-5 mt-5">Voici une brève description de ce que vous trouverez comme machine. Vous pouvez trouver des machines différentes et disponibles, des types de projets que vous pouvez y réaliser, ou de tout autre aspect pertinent.</p>
					<a href="{{path('machines_reservation')}}" class="btn btn-plus">En savoir plus</a>
				</div>

			</div>

			<div class="col-lg-6 text-center">
				<img src="{{ asset('assets/images/machine-fablab.webp') }}" class="home-img" alt="Description de l'image">
			</div>
		</div>
	</section>

	<section class="home-container  ">
		<div class="row g-4 align-items-center pt-3 pb-3">
			<div class="col-lg-6 text-center">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.5839869672795!2d3.907758074731394!3d43.61520285488974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a58694465f59%3A0xe364e08f88e16c0d!2sLabsud%20-%20Fablab%20Montpellier!5e0!3m2!1sfr!2sfr!4v1711400522195!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="col-lg-6 margin-left d-flex justify-content-center align-items-center">
				<div class="maxwd">
					<h2>Où nous trouvez ? </h2>
					<p class="mb-5 mt-5">Vous pouvez actuellement nous trouvez ici ! Dans l'attente de vous découvrir</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
