<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nouvelle réservation d'espace de travail</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
    <div style="max-width: 600px; margin: auto; border: 1px solid #ddd; padding: 20px; box-shadow: 2px 2px 5px rgba(0,0,0,.05);">
        <h2 style="color: #6d3e91; text-align: center;">Nouvelle réservation d'espace de travail</h2>
        <p>Bonjour,</p>
        <p>Vous avez reçu une nouvelle réservation de la part de <strong>{{ userInfo.userName }}</strong> (Email: <a href="mailto:{{ userInfo.userEmail }}" style="color: #6d3e91;">{{ userInfo.userEmail }}</a>).</p>
        <p>Voici les détails de la réservation :</p>
        <ul>
            <li>Espace : <strong>{{ userInfo.workspaceName }}</strong></li>
            <li>Date : <strong>{{ userInfo.reservationDate }}</strong></li>
            <li>Heure de début : <strong>{{ userInfo.startTime }}</strong></li>
            <li>Heure de fin : <strong>{{ userInfo.endTime }}</strong></li>
        </ul>
        <p>Nous vous recommandons de vérifier la réservation dans votre système de gestion.</p>
        <hr>
        <p style="text-align: center; color: #F28705;">Ce message est généré automatiquement, merci de ne pas y répondre directement.</p>
    </div>
</body>
</html>
