{% extends 'base.html.twig' %}

{% block title %}Edit Machines{% endblock %}

{% block body %}
    <h1>Edit Machines</h1>

    {{ include('/crudTemplates/machines/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_machines_index') }}">back to list</a>

    {{ include('/crudTemplates/machines/_delete_form.html.twig') }}
{% endblock %}
