{% extends 'base.html.twig' %}

{% block title %}Machines index{% endblock %}

{% block body %}
    <h1>Machines index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_machine</th>
                <th>Number_machine</th>
                <th>Description</th>
                <th>Machine_picture</th>
                <th>Member_access</th>
                <th>Is_booked</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for machine in machines %}
            <tr>
                <td>{{ machine.id }}</td>
                <td>{{ machine.nameMachine }}</td>
                <td>{{ machine.numberMachine }}</td>
                <td>{{ machine.description }}</td>
                <td>{{ machine.machinePicture }}</td>
                <td>{{ machine.memberAccess ? 'Yes' : 'No' }}</td>
                <td>{{ machine.isBooked ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_machines_show', {'id': machine.id}) }}">show</a>
                    <a href="{{ path('app_machines_edit', {'id': machine.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_machines_new') }}">Create new</a>
{% endblock %}
