{% extends 'base.html.twig' %}

{% block title %}New Machines{% endblock %}

{% block body %}
    <h1>Create new Machines</h1>

    {{ include('/crudTemplates/machines/_form.html.twig') }}

    <a href="{{ path('app_machines_index') }}">back to list</a>
{% endblock %}
