{% extends 'base.html.twig' %}

{% block title %}Machines{% endblock %}

{% block body %}
    <h1>Machines</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ machine.id }}</td>
            </tr>
            <tr>
                <th>Name_machine</th>
                <td>{{ machine.nameMachine }}</td>
            </tr>
            <tr>
                <th>Number_machine</th>
                <td>{{ machine.numberMachine }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ machine.description }}</td>
            </tr>
            <tr>
                <th>Machine_picture</th>
                <td>{{ machine.machinePicture }}</td>
            </tr>
            <tr>
                <th>Member_access</th>
                <td>{{ machine.memberAccess ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_booked</th>
                <td>{{ machine.isBooked ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_machines_index') }}">back to list</a>

    <a href="{{ path('app_machines_edit', {'id': machine.id}) }}">edit</a>

    {{ include('/crudTemplates/machines/_delete_form.html.twig') }}
{% endblock %}
