{% extends 'adminTemplatePage.html.twig' %}

{% block title %}Réservations Machines
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/styles/admin_reservations/reservations_machines.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/styles/adminPages.css') }}">
{% endblock %}

{% block main %}
	<div class="container mt-5">
		{% include "components/_flash.html.twig" %}
		<h1 class="mb-4">Gestion des réservations Machines</h1>

		<div class="d-flex justify-content-end mb-3">
			<a href="{{ path('app_admin_reservations_create') }}" class="btn btn-primary" id="btnCreateReserveMachines">Créer une nouvelle réservation</a>
		</div>

		

<section>
        <h2>Réservations d'aujourd'hui</h2>
        {% include 'admin_reservations/table.html.twig' with {'reservations': todayReservations, 'tableId': 'todayReservationsTable'} %}
    </section>

    <section>
        <h2>Réservations futures validées</h2>
        {% include 'admin_reservations/table.html.twig' with {'reservations': futureValidatedReservations, 'tableId': 'futureValidatedReservationsTable'} %}
    </section>

    <section>
        <h2>Réservations futures non validées</h2>
        {% include 'admin_reservations/table.html.twig' with {'reservations': futureNonValidatedReservations, 'tableId': 'futureNonValidatedReservationsTable'} %}
    </section>

    <section>
        <h2>Réservations passées</h2>
        {% include 'admin_reservations/table.html.twig' with {'reservations': pastReservations, 'tableId': 'pastReservationsTable'} %}
    </section>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('#todayReservationsTable').DataTable();
    $('#futureValidatedReservationsTable').DataTable();
    $('#futureNonValidatedReservationsTable').DataTable();
    $('#pastReservationsTable').DataTable();
});
</script>
{% endblock %}
