<div class="card shadow-lg mb-4 animate__animated animate__fadeInLeftBig">
	<div class="card-body">
		<div class="table-responsive ">
			<table class="table table-striped sortTable" id="{{ tableId }}">
				<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Date</th>
						<th>Heure de début</th>
						<th>Heure de fin</th>
						<th>Validée</th>
						<th>Utilisateur</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for reservation in reservations %}
						<tr>
							<td>{{ reservation.id }}</td>
							<td>{{ reservation.dateReservation|date('Y-m-d') }}</td>
							<td>{{ reservation.startHour|date('H:i') }}</td>
							<td>{{ reservation.endHour|date('H:i') }}</td>
							<td>{{ reservation.isIsValidated ? 'Oui' : 'Non' }}</td>
							<td>{{ reservation.user.username }}</td>
							<td>
								<a href="{{ path('app_admin_reservations_show_machine', {'id': reservation.id}) }}" class="btn btn-info btn-sm">Voir</a>
								<a href="{{ path('app_admin_reservations_edit_machine', {'id': reservation.id}) }}" class="btn btn-warning btn-sm">Éditer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
