<form method="post" action="{{ path('app_consummables_delete', {'id': consummable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consummable.id) }}">
    <button class="btn">Delete</button>
</form>
