{% extends 'base.html.twig' %}

{% block title %}Edit Consummables{% endblock %}

{% block body %}
    <h1>Edit Consummables</h1>

    {{ include('/crudTemplates/consummables/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_consummables_index') }}">back to list</a>

    {{ include('/crudTemplates/consummables/_delete_form.html.twig') }}
{% endblock %}
