{% extends 'base.html.twig' %}

{% block title %}Consummables index{% endblock %}

{% block body %}
    <h1>Consummables index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_consummable</th>
                <th>Quantity</th>
                <th>Threshold</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consummable in consummables %}
            <tr>
                <td>{{ consummable.id }}</td>
                <td>{{ consummable.nameConsummable }}</td>
                <td>{{ consummable.quantity }}</td>
                <td>{{ consummable.threshold }}</td>
                <td>
                    <a href="{{ path('app_consummables_show', {'id': consummable.id}) }}">show</a>
                    <a href="{{ path('app_consummables_edit', {'id': consummable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consummables_new') }}">Create new</a>
{% endblock %}
