{% extends 'base.html.twig' %}

{% block title %}New Consummables{% endblock %}

{% block body %}
    <h1>Create new Consummables</h1>

    {{ include('/crudTemplates/consummables/_form.html.twig') }}

    <a href="{{ path('app_consummables_index') }}">back to list</a>
{% endblock %}
