{% extends 'base.html.twig' %}

{% block title %}Consummables{% endblock %}

{% block body %}
    <h1>Consummables</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consummable.id }}</td>
            </tr>
            <tr>
                <th>Name_consummable</th>
                <td>{{ consummable.nameConsummable }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ consummable.quantity }}</td>
            </tr>
            <tr>
                <th>Threshold</th>
                <td>{{ consummable.threshold }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consummables_index') }}">back to list</a>

    <a href="{{ path('app_consummables_edit', {'id': consummable.id}) }}">edit</a>

    {{ include('/crudTemplates/consummables/_delete_form.html.twig') }}
{% endblock %}
