{% extends 'visitor/index.html.twig' %}

{% block title %}
    Réserver votre workspace
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/reservation_client/workspace_resa.css') }}">
{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="text-center mb-3 mt-3">
        <h1>Réserver votre espace de travail</h1>
    </div>
    <div class="row row-cols-1 mb-5 row-cols-md-3 g-4">
        {% for workspace in workspaces %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="text-center mb-3 mt-3">
                        <h2 class="card-title">{{ workspace.nameworkspace }}</h2>
                        <p class="card-text mt-3">{{ workspace.description }}</p>
                    </div>                
                    
                    {% if app.user %}
                        {% if app.user.isIsValidated() %}
                            <button class="card__btn color_btn" data-id="{{ workspace.id }}" data-user-id="{{ app.user.id }}">Réservez !</button>
                        {% else %}
                            <button class="card__btn-notvalidated color_btn">Réservez !</button>
                        {% endif %}
                    {% else %}
                        <button class="card__btn-login color_btn">Réservez !</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'visitor/reservation_workspace/modals/reservationModal.html.twig' %}
{% include 'visitor/reservation_workspace/modals/loginModal.html.twig' %}
{% include 'visitor/reservation_workspace/modals/successModal.html.twig' %}
{% include 'visitor/reservation_workspace/modals/validationModal.html.twig' %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/javascript/reservationClient/reservationWorkspace.js') }}"></script>
{% endblock %}