.container {
    max-width: 800px;
}

body {
    background-color: #fff; /* Fond général de la page */
    color: #333; /* Couleur principale du texte */
}
.article-detail { /* Arrière-plan léger de la carte de l'article avec opacité */
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Ombre plus douce pour un effet subtil */
}
.article-detail h1 {
    color: #6d3e91; /* Couleur pour le titre de l'article */
}
.article-detail img {
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre subtile pour l'image */
}
.text-muted {
    color: #6c757d; /* Texte secondaire */
}
.btn-back-to-articles {
    background-color: #f28705; /* Couleur du bouton de retour */
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre pour donner un effet de relief au bouton */
}
.btn-back-to-articles:hover {
    background-color: #c76e04; /* Foncer le bouton au survol */
    text-decoration: none;
}

body {
    background-image: url("../images/page.svg");
    background-size: auto;
    position: relative;
  }