.article-image, .video-wrapper {
  width: 100%;
  height: auto;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Style pour l'effet de relief avec box shadow sur toute la row */
.article-row {
  background-color: #fff;
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease-in-out; /* Animation douce pour l'ombre */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour l'effet de relief */
  border-radius: 5px; /* Ajoute des coins arrondis pour plus de style */
}
.article-row:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Ombre plus prononcée au survol pour un effet de relief plus marqué */
}

h1, h2 {
  color: #6d3e91;
}
body {
  background-image: url("../images/page.svg");
  background-size: auto;
  position: relative;
}
