/* Reset général */
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-image: url("../images/page.svg");
    background-size: 98%;
    background-position: center;
    width: 100%;
    height: 100%;
}

.p {
    color: #000000;
}

/* Boutons */
.btn {
    background: #6D3E91;
    border-color: #6D3E91;
}

.btn:hover {
    color: #f28705;
}

/* Formulaire de contact */
#formContact {
    width: 30em;
    height: 42em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 2em;
    border: 2px solid hsl(0, 0%, 80%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Titre du formulaire */
#titleContact {
    border-color: #6D3E91;
    color: #6D3E91;
}

/* Champs de message */
#rowMessage {
    height: 15em;
    margin-bottom: 3em;
}

#champObligatoire {
    margin-top: 1em;
    margin-left: 18em;
}

/* Bouton de soumission */
#contact_submit {
    margin-left: 15em;
    border-color: #6D3E91;
    color: #ffffff;
}

#contact_submit:hover {
    color: #f28705;
    background-color: #6D3E91;
}

#contact_submit:active {
    background: #bca3ce;
    border-color: #bca3ce;
}

@media screen and (max-width: 767px) {
    #formContact {
        width: 90%;
        margin: 5em auto 3em;
    }

    #contact_submit {
        margin-left: 0;
    }
}
