/* navBarTest.css */

/* Style de base de la navbar */
.navbar {
  background-image: url('../images/NavBar.svg');
  background-color: #6d3e9134 !important;
  box-shadow: 0 10px 10px rgba(87, 91, 92, 0.347), 0 10px 4px rgba(0, 0, 0, 0.388); /* Exemple d'ombre */
}

/* Logo */
.navbar-brand {
  color: #6d3e19 !important; /* Vérifiez cette couleur, elle semble être une faute de frappe */
}

.navbar-brand img {
  padding-left: 1rem;
  height: 3rem;
}

/* Liens de la navbar */
.nav-link {
  background-image: linear-gradient(
    to right,
    #f28705,
    #f28705 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #f28705;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .7s ease-in-out;
}
.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  width: 100%;
}

.nav-link:hover {
  background-position: 0;
}

/* Bouton de la navbar pour la version mobile */
.navbar-toggler {
  border-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Ajoute une couleur de bordure légère si nécessaire */
}

.navbar-toggler-icon {
    background-image: url("../images/icon.svg "); /* Personnalisez si vous souhaitez changer l'icône */
    transition: transform 0.3s ease; /* Ajoutez une transition à la propriété transform */
  }
  
  .navbar-toggler-icon.rotate {
    transform: rotate(90deg);
  }
/* Menu déroulant */
.dropdown-menu {
    
  background-color: #532475df !important;
  box-shadow: 0 10px 10px rgba(87, 91, 92, 0.12), 0 10px 4px rgba(0, 0, 0, 0.12); /* Exemple d'ombre */
}
.navbar-toggler {
    border: none !important; /* Supprime la bordure */
    outline: none !important; /* Supprime l'outline lors du focus */
}

.navbar-toggler, .custom-toggler:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; /* Ajouté pour supprimer tout effet d'ombre qui pourrait être interprété comme une bordure */
}



.dropdown-menu.show {
        margin-top: 1.5rem;
  }

.dropdown-item {
  color: #fff !important;
}

.dropdown-item:hover {
  color: #fff !important;
  background-color: #f28705 !important; /* Couleur au survol des items */
}

/* Modifier le style du toggle dropdown en survol */
.nav-item.dropdown:hover .nav-link.dropdown-toggle {
  color: #f28705 !important;
}
.navbar-links {
  margin-right: 1.2rem; /* Ajustez cette valeur selon vos besoins */
}

/* Augmente l'espace entre les items de la navbar */
.nav-item {
    margin-right: 1rem; /* Ajustez cette valeur pour augmenter ou diminuer l'espace */
    font-weight: 800;
  }
  /* Augmente l'espace entre les liens de la navbar */
.nav-link {
    color: #fff !important;
    margin-right: 1rem; /* Ajustez cette valeur pour augmenter ou diminuer l'espace */
    font-weight: 900;
  }



  .content-spacing {
    padding-top: 70px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
}

html, body {
  height: 100%;
  margin: 0;
}
 
body {
  display: flex;
  flex-direction: column;
}

/* Assurez-vous que le conteneur principal (qui enveloppe tout sauf le footer) occupe l'espace disponible */
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; /* Ajoutez ceci si votre contenu doit également être une colonne */
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
