.deco-input::placeholder {
  /* Style pour le placeholder */
  font-size: 1rem;
  color: #282829; /* Couleur du placeholder, choisissez selon votre design */
  opacity: 1; /* Assurez-vous que le placeholder est bien visible */
  font-style: italic; /* Optionnel : ajoutez un style italique pour différencier le placeholder */
}

.deco-input {
  border: 0;
  outline: none; /* Supprime l'outline au focus pour garder l'esthétique */
  box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.1),
    0 4px 5px -2px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.3s ease; /* Transition douce pour l'effet au focus */
  background-color: #faf8f8ea; /* Assurez-vous que l'arrière-plan est défini pour améliorer le contraste */
  color: #495057; /* Couleur du texte saisi */
  padding: 0.375rem 0.75rem; /* Ajoutez du padding pour aligner le texte */
}

.deco-input:focus {
  box-shadow: 0 8px 12px -1px rgba(0, 0, 0, 0.2),
    0 6px 7px -2px rgba(0, 0, 0, 0.14);
    background-color: #f7f2f2ea;
}

.btn-back-to-articles {
  background-color: #f28705; /* Couleur du bouton de retour */
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet de relief au bouton */
}
.btn-back-to-articles:hover {
  background-color: #c76e04; /* Foncer le bouton au survol */
  text-decoration: none;
}


.btn-cochet {
    padding: 10px;
    border: #5e156e solid 3px;
    margin-right: 10px;
    transform: translateY(-5px);

}

/* SHOW EVENT */

.background {
    background-color: #5e156e;
}