body {
  background-image: url("../images/page.svg");
  background-size: auto;
  position: relative;
}
.card-futuristic {
  transform-style: preserve-3d;
  perspective: 1500px; 
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  font-size: 1.4vw;
}


.card-futuristic:hover {
  transform: rotateY(20deg); 
}

.card-img-top {
  transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.card-futuristic:hover .card-img-top {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.card-title {
  font-size: 1.5rem;
  color: #6d3e91;
}


.btn-futuristic {
  background-color: #f28705; 
  border: none;
  border-radius: 0;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.btn-futuristic:hover {
  background-color: #d17607;
}


.card-img-container {
  width: 100%; 
  height: 200px; 
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.card-img-container img {
  width: auto; 
  height: 100%; 
}


.card-reverse .row > * {
  flex-direction: row-reverse; 
}


.card-futuristic {

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card-futuristic:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.4);
  transform: translateZ(
    15px
  );
}

.card-body {
  overflow: hidden; 
}

.test {
  transform: translateY(1.2rem);
}
