body {
  background-image: url("../images/page.svg") !important;
}
h1 {
  color: #6d3e91 !important;
}

.btn-back- {
  background-color: #f28705; /* Couleur du bouton de retour */
  color: white;
  padding: 10px 15px;
  border-radius: 0;
  text-decoration: none;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet de relief au bouton */
}
.btn-back-:hover {
  color: #fff;
  background-color: #c76e04; /* Foncer le bouton au survol */
  text-decoration: none;
}

#membershipModalLabel {
  color: #6d3e91;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.events-list {
  margin-left: 20px;
  margin-bottom: 20px;
  color: #f28705 !important;
  border-color: #f28705 !important;
}

.modal.fade .modal-dialog {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

#pageHeaderTitle {
  color: #f28705 !important;
}
.btn-primary {
  background-color: #f28705 !important;
  border-color: #f28705 !important;
}

.btn-primary:hover {
  background-color: #d97604 !important;
  border-color: #c66503 !important;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2vh 0;
  overflow: hidden;
  position: relative;
  color: black;
  background-color: #fcfcfc;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard a {
  color: inherit;
}

.postcard h2,
.postcard .h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
  color: #6d3e91;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.btn-custom {
  background-color: #f28705 !important;
  color: #fff !important;
  border-color: #f28705 !important;
}
.btn-custom:hover {
  background-color: #d97604 !important;
  border-color: #c66503 !important;
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

.btn-close:focus {
  border: 0;
  box-shadow: none;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
    .postcard__title {
      font-size: 2rem;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }
    .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: white;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    &:hover .postcard__img {
      transform: scale(1.1);
    }
    &:nth-child(2n + 1) {
      flex-direction: row;
    }
    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }
    &:nth-child(2n + 1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    &:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem3.5rem;
  }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: white;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

.red .postcard__title:hover {
  color: #f28705;
}

.red .postcard__bar {
  background-color: #f28705;
}

.red::before {
  background-image: linear-gradient(
    -30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(
    30deg,
    rgba(189, 21, 11, 0.1),
    transparent 50%
  );
}

@media screen and (min-width: 769px) {
  .red::before {
    background-image: linear-gradient(
      -80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(
      80deg,
      rgba(189, 21, 11, 0.1),
      transparent 50%
    );
  }
}
