<h3 class="mt-4">Participants</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Validé</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
        <tr>
            <td>{{ participant.person.lastname }}</td>
            <td>{{ participant.person.firstname }}</td>
            <td>{{ participant.person.email }}</td>
            <td>{{ participant.person.phone }}</td>
            <td>{{ participant.isIsValidated ? 'Oui' : 'Non' }}</td>
            <td>
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#validateModal-{{ participant.id }}">
                    Modifier
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
