.header-overlay {
    height: 75vh;
    background-image: url("../../images/fablab.webp");
    background-position: center;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.test {
  position: relative;
  z-index: 2; /* Assure que le texte est au-dessus de l'overlay */
}

.lead {
  font-weight: 700;
}

.btn-adheren {
  color: #fff;
  padding: 1rem 56px;
  border-radius: 0;
  margin: 1rem;
  background-color: rgb(237, 116, 10);
  letter-spacing: 2px;
}

.btn-adheren:hover {
  border-radius: 0;
  background-color: rgba(237, 116, 10, 0.719);
}

.btn-atelier {
    color: #fff;
    border: #fff solid 3px;
    padding: 0.9rem 56px;
    border-radius: 0;
    margin: 1rem;
    letter-spacing: 2px;
}
.btn-atelier:hover {
    border: #ffffff42 solid 3px;
    background-color: #ffffffa1;
    color: #030303;
}


/* Section 1 */

.btn-plus {
    color: #fff;
    padding: 1rem 56px;
    border-radius: 0;
    background-color: rgb(237, 116, 10);
    letter-spacing: 2px;
    font-weight: 500;
  }

  .btn-plus:hover {
    border-radius: 0;
    color: #fff;
    background-color: rgba(214, 106, 10, 0.995);
  }

  .btn-purple{
      color: #fff;
      padding: 1rem 56px;
      border-radius: 0;
      background-color: rgb(109, 62, 145);
      letter-spacing: 2px;
      font-weight: 500;
  }

  .margin-left {
    padding-left: 6rem;
  }

  .maxwd {
    max-width: 350px;
  }


@media (max-width: 468px) {
    .maxwd {
        max-width: 250px;
    }
}

/* section 2 */

.section-two{
    background-color: #9b999922;
}

.home-img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.home-container {
    height: auto;
    padding: 5vh 0 5vh 0;
}