<form method="post" action="{{ path('app_cat_consummables_delete', {'id': cat_consummable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat_consummable.id) }}">
    <button class="btn">Delete</button>
</form>
