{% extends 'base.html.twig' %}

{% block title %}Edit CatConsummables{% endblock %}

{% block body %}
    <h1>Edit CatConsummables</h1>

    {{ include('/crudTemplates/cat_consummables/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cat_consummables_index') }}">back to list</a>

    {{ include('/crudTemplates/cat_consummables/_delete_form.html.twig') }}
{% endblock %}
