{% extends 'base.html.twig' %}

{% block title %}CatConsummables index{% endblock %}

{% block body %}
    <h1>CatConsummables index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cat_consummable in cat_consummables %}
            <tr>
                <td>{{ cat_consummable.id }}</td>
                <td>{{ cat_consummable.nameCategory }}</td>
                <td>
                    <a href="{{ path('app_cat_consummables_show', {'id': cat_consummable.id}) }}">show</a>
                    <a href="{{ path('app_cat_consummables_edit', {'id': cat_consummable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cat_consummables_new') }}">Create new</a>
{% endblock %}
