{% extends 'base.html.twig' %}

{% block title %}New CatConsummables{% endblock %}

{% block body %}
    <h1>Create new CatConsummables</h1>

    {{ include('/crudTemplates/cat_consummables/_form.html.twig') }}

    <a href="{{ path('app_cat_consummables_index') }}">back to list</a>
{% endblock %}
