{% extends 'base.html.twig' %}

{% block title %}CatConsummables{% endblock %}

{% block body %}
    <h1>CatConsummables</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cat_consummable.id }}</td>
            </tr>
            <tr>
                <th>Name_category</th>
                <td>{{ cat_consummable.nameCategory }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cat_consummables_index') }}">back to list</a>

    <a href="{{ path('app_cat_consummables_edit', {'id': cat_consummable.id}) }}">edit</a>

    {{ include('/crudTemplates/cat_consummables/_delete_form.html.twig') }}
{% endblock %}
