{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Is_visitor</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Birthday</th>
                <th>Street</th>
                <th>Adress_complement</th>
                <th>Is_organization</th>
                <th>Is_email_verified</th>
                <th>Is_validated</th>
                <th>First_membership</th>
                <th>Last_membership</th>
                <th>Num_siret</th>
                <th>Name_organization</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isVisitor ? 'Yes' : 'No' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ user.street }}</td>
                <td>{{ user.adressComplement }}</td>
                <td>{{ user.isOrganization ? 'Yes' : 'No' }}</td>
                <td>{{ user.isEmailVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.isValidated ? 'Yes' : 'No' }}</td>
                <td>{{ user.firstMembership ? user.firstMembership|date('Y-m-d') : '' }}</td>
                <td>{{ user.lastMembership ? user.lastMembership|date('Y-m-d') : '' }}</td>
                <td>{{ user.numSiret }}</td>
                <td>{{ user.nameOrganization }}</td>
                <td>
                    <a href="{{ path('app_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_users_new') }}">Create new</a>
{% endblock %}
