{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Is_visitor</th>
                <td>{{ user.isVisitor ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ user.street }}</td>
            </tr>
            <tr>
                <th>Adress_complement</th>
                <td>{{ user.adressComplement }}</td>
            </tr>
            <tr>
                <th>Is_organization</th>
                <td>{{ user.isOrganization ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_email_verified</th>
                <td>{{ user.isEmailVerified ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_validated</th>
                <td>{{ user.isValidated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>First_membership</th>
                <td>{{ user.firstMembership ? user.firstMembership|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Last_membership</th>
                <td>{{ user.lastMembership ? user.lastMembership|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Num_siret</th>
                <td>{{ user.numSiret }}</td>
            </tr>
            <tr>
                <th>Name_organization</th>
                <td>{{ user.nameOrganization }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_users_index') }}">back to list</a>

    <a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

    {{ include('/crudTemplates/users/_delete_form.html.twig') }}
{% endblock %}
