<div class="modal fade" id="areyousureModal" tabindex="-1" aria-labelledby="areyousureModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="areyousureModalLabel" style="color: red;">Confirmez-vous l'inscription</h5>
							<button type="button" id="close-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-footer d-flex justify-content-center">
							<button id="sure" class="btn btn-primary">Oui</button>
							<button id="nono" class="btn btn-danger">Non</button>
						</div>
					</div>
				</div>
			</div>