<div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="membershipModalLabel">Etes-vous membre ?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-footer d-flex justify-content-center">
							<button id="yes" class="btn btn-primary">Je suis membre</button>
							<button id="no" class="btn btn-danger">Je ne suis pas membre</button>
						</div>
					</div>
				</div>
			</div>