<div class="modal fade" id="newMemberModal" tabindex="-1" aria-labelledby="newMemberModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="newMemberModalLabel">Devenir Membre</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Cet événement est réservé aux membres vérifiés. Veuillez vous connecter si vous avez déjà un compte, ou devenir membre pour pouvoir vous inscrire à cet événement.
						</div>
						<div class="modal-footer">
							<a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
							<a href="{{ path('app_register') }}" class="btn btn-secondary">Devenir membre</a>
						</div>
					</div>
				</div>
			</div>