<!-- Modal pour utilisateurs non validés -->
<div class="modal fade" id="validationRequiredModal" tabindex="-1" aria-labelledby="validationRequiredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validationRequiredModalLabel">Réservation Restreinte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                La réservation est seulement pour les membres validés. Veuillez vérifier votre statut de membre ou contacter l'administration pour plus d'informations.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>