<form method="post" action="{{ path('app_postal_code_delete', {'id': postal_code.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postal_code.id) }}">
    <button class="btn">Delete</button>
</form>
