{% extends 'base.html.twig' %}

{% block title %}PostalCode index{% endblock %}

{% block body %}
    <h1>PostalCode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postal_code in postal_codes %}
            <tr>
                <td>{{ postal_code.id }}</td>
                <td>{{ postal_code.number }}</td>
                <td>
                    <a href="{{ path('app_postal_code_show', {'id': postal_code.id}) }}">show</a>
                    <a href="{{ path('app_postal_code_edit', {'id': postal_code.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_postal_code_new') }}">Create new</a>
{% endblock %}
