{% extends 'base.html.twig' %}

{% block title %}PostalCode{% endblock %}

{% block body %}
    <h1>PostalCode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postal_code.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ postal_code.number }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_postal_code_index') }}">back to list</a>

    <a href="{{ path('app_postal_code_edit', {'id': postal_code.id}) }}">edit</a>

    {{ include('/crudTemplates/postal_code/_delete_form.html.twig') }}
{% endblock %}
