<form method="post" action="{{ path('app_genders_delete', {'id': gender.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gender.id) }}">
    <button class="btn">Delete</button>
</form>
