{% extends 'base.html.twig' %}

{% block title %}Genders{% endblock %}

{% block body %}
    <h1>Genders</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gender.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ gender.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_genders_index') }}">back to list</a>

    <a href="{{ path('app_genders_edit', {'id': gender.id}) }}">edit</a>

    {{ include('/crudTemplates/genders/_delete_form.html.twig') }}
{% endblock %}
