.card {
    text-align: center;
    align-items: center;
    margin-top: 3em;
    border: 2px solid #bca3cedf; 
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-title {
    color: #6D3E91;
    border-color: #6D3E91;
}

.card-body {
    margin-top: 1em;
}

#btnMachines,
#btnWorkspaces {
    border-color: #bca3cedf;
    color: #ffffff;
    background-color: #6D3E91;
    text-align: center;
    align-items: center;
}

#btnMachines:hover,
#btnWorkspaces:hover {
    color: #ffffff !important;
    background-color: #f28705;
}