#btnCreateReserveMachines,
.btn-warning {
    border-color: #bca3cedf;
    color: #ffffff;
    background-color: #6D3E91;
    text-align: center;
    align-items: center;
}

#btnCreateReserveMachines:hover,
.btn-info,
#btnFilter:hover {
    color: #ffffff !important;
    background-color: #f28705;
}

.btn-info:hover,
#btnFilter {
    border-color: #bca3cedf;
    color: #ffffff;
    background-color: #6D3E91;
    text-align: center;
    align-items: center;
}

.btn-warning:hover {
    color: #ffffff !important;
    background-color: #f28705;
}