{% extends 'visitor/index.html.twig' %}


{% block title %}{{ publication.title }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/styles/articlesDetailVisitor.css') }}">
{% endblock %}


{% block main %}
<div class="container my-4">
    <a href="{{ path('app_route_articles') }}" class="btn-back-to-articles">← Retour aux articles</a>
    <div class="article-detail mt-4">
        <div class="row g-0">
            <div class="col-lg-6">
                {% if publication.frontPicture %}
                    <img src="{{ asset('assets/uploads/' ~ publication.frontPicture) }}" alt="Image de {{ publication.title }}" class="img-fluid w-100" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                {% elseif publication.media %}
                    <div class="video-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0;">
                        <iframe src="{{ publication.media|replace({'https://www.youtube.com/watch?v=': 'https://www.youtube-nocookie.com/embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 15px;"></iframe>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div class="p-3">
                    <h1>{{ publication.title }}</h1>
                    <p class="text-muted">
                        Publié le {{ publication.datePublication|date('d/m/Y') }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="article-content p-3">
                    {{ publication.description|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



