{% extends 'visitor/index.html.twig' %}

{% block title %}Articles FabLab{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/styles/articlesVisitor.css') }}">
{% endblock %}

{% block main %}
	<div class="container my-5">
		<div class="text-center mb-4">
			<h1>Articles FabLab</h1>
		</div>
		{% if publications is empty %}
			<div class="text-center">
				<p>Aucune publication validée pour le moment.</p>
			</div>
		{% else %}
			{% for publication in publications %}
				{% if publication.isPublished %}
					<div class="row align-items-center article-row {{ loop.index is odd ? 'flex-row-reverse' : '' }} mb-4">
						<div class="col-md-6 mb-3">
							{% if publication.media %}
								{% set embedUrl = publication.media|replace({'https://www.youtube.com/watch?v=': 'https://www.youtube-nocookie.com/embed/'}) %}
								<div class="video-wrapper">
									<iframe src="{{ embedUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							{% elseif publication.frontPicture %}
								<img src="{{ asset('assets/uploads/' ~ publication.frontPicture) }}" class="article-image img-fluid" alt="Image for {{ publication.title }}">
							{% endif %}
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<div class="text-center">
									<h2>{{ publication.title }}</h2>
								</div>
								<p>{{ publication.description|slice(0, 500) ~ '...'  }}</p>
								<a href="{{ path('app_route_article_detail', {'id': publication.id}) }}">Lire la suite</a>

								<div class="text-muted mb-3">
									Publié le: {{ publication.datePublication|date('d/m/Y') }}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
