{% extends 'base.html.twig' %}

{% block title %}Participants index{% endblock %}

{% block body %}
    <h1>Participants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Is_validated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.isValidated ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_participants_show', {'id': participant.id}) }}">show</a>
                    <a href="{{ path('app_participants_edit', {'id': participant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participants_new') }}">Create new</a>
{% endblock %}
