{% extends 'base.html.twig' %}

{% block title %}New Participants{% endblock %}

{% block body %}
    <h1>Create new Participants</h1>

    {{ include('/crudTemplates/participants/_form.html.twig') }}

    <a href="{{ path('app_participants_index') }}">back to list</a>
{% endblock %}
