<!-- Modal Structure Formulaire de réservation -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reservationModalLabel">Réservez votre espace de travail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="reservationForm">
        <div class="modal-body">
            <div class="mb-3">
                <label for="startDay" class="form-label">Jour de la réservation :</label>
                <input type="date" id="startDay" name="startDay" required class="form-control" min="">
            </div>
            <div class="mb-3">
                <label for="startHour" class="form-label">Heure de début:</label>
                <input type="time" id="startHour" name="startHour" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="endHour" class="form-label">Heure de fin:</label>
                <input type="time" id="endHour" name="endHour" required class="form-control">
            </div>
            <input type="hidden" id="workspaceId" name="workspaceId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Réserver</button>
        </div>
      </form>
    </div>
  </div>
</div>