<form method="post" action="{{ path('app_units_consummable_delete', {'id': units_consummable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ units_consummable.id) }}">
    <button class="btn">Delete</button>
</form>
