{% extends 'base.html.twig' %}

{% block title %}Edit UnitsConsummable{% endblock %}

{% block body %}
    <h1>Edit UnitsConsummable</h1>

    {{ include('/crudTemplates/units_consummable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_units_consummable_index') }}">back to list</a>

    {{ include('/crudTemplates/units_consummable/_delete_form.html.twig') }}
{% endblock %}
