{% extends 'base.html.twig' %}

{% block title %}UnitsConsummable index{% endblock %}

{% block body %}
    <h1>UnitsConsummable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_unit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for units_consummable in units_consummables %}
            <tr>
                <td>{{ units_consummable.id }}</td>
                <td>{{ units_consummable.nameUnit }}</td>
                <td>
                    <a href="{{ path('app_units_consummable_show', {'id': units_consummable.id}) }}">show</a>
                    <a href="{{ path('app_units_consummable_edit', {'id': units_consummable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_units_consummable_new') }}">Create new</a>
{% endblock %}
