{% extends 'base.html.twig' %}

{% block title %}New UnitsConsummable{% endblock %}

{% block body %}
    <h1>Create new UnitsConsummable</h1>

    {{ include('/crudTemplates/units_consummable/_form.html.twig') }}

    <a href="{{ path('app_units_consummable_index') }}">back to list</a>
{% endblock %}
