{% extends 'base.html.twig' %}

{% block title %}UnitsConsummable{% endblock %}

{% block body %}
    <h1>UnitsConsummable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ units_consummable.id }}</td>
            </tr>
            <tr>
                <th>Name_unit</th>
                <td>{{ units_consummable.nameUnit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_units_consummable_index') }}">back to list</a>

    <a href="{{ path('app_units_consummable_edit', {'id': units_consummable.id}) }}">edit</a>

    {{ include('/crudTemplates/units_consummable/_delete_form.html.twig') }}
{% endblock %}
