{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
    <h1>Events index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_event</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Start_hour</th>
                <th>End_hour</th>
                <th>Description</th>
                <th>Front_media</th>
                <th>Is_published</th>
                <th>Is_member_only</th>
                <th>Max_participants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nameEvent }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.startHour ? event.startHour|date('H:i:s') : '' }}</td>
                <td>{{ event.endHour ? event.endHour|date('H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.frontMedia }}</td>
                <td>{{ event.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ event.isMemberOnly ? 'Yes' : 'No' }}</td>
                <td>{{ event.maxParticipants }}</td>
                <td>
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_events_new') }}">Create new</a>
{% endblock %}
