{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1>Events</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name_event</th>
                <td>{{ event.nameEvent }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Start_hour</th>
                <td>{{ event.startHour ? event.startHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End_hour</th>
                <td>{{ event.endHour ? event.endHour|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Front_media</th>
                <td>{{ event.frontMedia }}</td>
            </tr>
            <tr>
                <th>Is_published</th>
                <td>{{ event.isPublished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Is_member_only</th>
                <td>{{ event.isMemberOnly ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Max_participants</th>
                <td>{{ event.maxParticipants }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_events_index') }}">back to list</a>

    <a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a>

    {{ include('/crudTemplates/events/_delete_form.html.twig') }}
{% endblock %}
